apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tequity

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secrets.yaml
  - main-deployment.yaml
  - main-service.yaml
  - main-hpa.yaml
  - admin-deployment.yaml
  - admin-service.yaml
  - admin-hpa.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/part-of: tequity
  app.kubernetes.io/managed-by: kustomize
